# Final Project: Vehicle Collisions in New York City

## Motivation
- What is your dataset?
- Why did you choose this/these particular dataset(s)?
- What was your goal for the end user's experience?

In [1]:
import pandas as pd
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

plt.style.use("seaborn-darkgrid")
warnings.filterwarnings('ignore')

In [2]:
collisions_df_original = pd.read_csv("Motor_Vehicle_Collisions_-_Crashes.csv", sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
collisions_df_original.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,12/15/2020,17:00,BROOKLYN,11211,40.71372,-73.93497,"(40.71372, -73.93497)",MORGAN AVENUE,DEVOE STREET,NaN,...,Unspecified,NaN,NaN,NaN,4376435,Station Wagon/Sport Utility Vehicle,E-Scooter,NaN,NaN,NaN
1,02/01/2021,16:30,BROOKLYN,11203,40.65771,-73.94072,"(40.65771, -73.94072)",NaN,NaN,599 WINTHROP STREET,...,Unspecified,NaN,NaN,NaN,4388554,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
2,01/07/2021,9:28,MANHATTAN,10007,40.71604,-74.010414,"(40.71604, -74.010414)",NaN,NaN,160 CHAMBERS STREET,...,Unspecified,NaN,NaN,NaN,4382207,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
3,02/07/2021,22:10,NaN,NaN,40.686497,-73.94164,"(40.686497, -73.94164)",MONROE STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4389965,Pick-up Truck,NaN,NaN,NaN,NaN
4,12/16/2020,19:03,BRONX,10452,40.835052,-73.92615,"(40.835052, -73.92615)",WEST 166 STREET,WOODYCREST AVENUE,NaN,...,Unspecified,Unspecified,NaN,NaN,4376755,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,NaN,NaN

## Basic stats. Let's understand the dataset better
- Write about your choices in data cleaning and preprocessing
- Write a short section that discusses the dataset stats, containing key points/plots from your exploratory data analysis.

In [3]:
collisions_df_original.shape

(1770881, 29)

## Data Analysis
- Describe your data analysis and explain what you've learned about the dataset.
- If relevant, talk about your machine-learning.

## Genre. Which genre of data story did you use?
- Which tools did you use from each of the 3 categories of Visual Narrative (Figure 7 in Segal and Heer). Why?
- Which tools did you use from each of the 3 categories of Narrative Structure (Figure 7 in Segal and Heer). Why?

## Visualizations.
- Explain the visualizations you've chosen.
- Why are they right for the story you want to tell?

## Discussion. Think critically about your creation
- What went well?,
- What is still missing? What could be improved?, Why?

## Contributions. Who did what?
- You should write (just briefly) which group member was the main responsible for which elements of the assignment. (I want you guys to understand every part of the assignment, but usually there is someone who took lead role on certain portions of the work. That's what you should explain).